@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.nd {
    margin: 0;
    background-image: url('../images/nen/8.jpeg');
    background-size: cover;
}

*, :after, :before {
    box-sizing: border-box;
}

.nd .grid-wrapper {
    padding: 0 15px;
}

.nd .grid-wrapper h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 60px;
    text-align: center;
    color: 	#222;
    word-spacing: 15px;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.nd .grid-wrapper .grid:after, .nd .grid-wrapper .grid:before {
    content: '';
    display: table;
    clear: both;
}

.nd .grid-wrapper .grid .grid-item {
    float: left;
    width: 33.33%;
    margin-bottom: 40px;
}

.nd .grid-wrapper .grid .grid-item a {
    display: block;
    padding: 15px 15px 50px 15px;
    background-color: #fff;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    text-align: center;
    transform: rotate(5deg);
    transition: all 200ms ease;

}

.nd .grid-wrapper .grid .grid-item img {
    display: block;
    max-width: 100%;
}

.nd .grid-wrapper .grid .grid-item a:after{
    content: attr(title);
    display: inline-block;
    position: relative;
    top: 25px;
    color: #333;
    transform: rotate(2deg);
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 3px;
}

.nd .grid-wrapper .grid .grid-item:nth-child(2n) a {
    transform: rotate(-5deg);

}

.nd .grid-wrapper .grid .grid-item:nth-child(3n) a {
    transform: rotate(-5deg);
}

.nd .grid-wrapper .grid .grid-item:nth-child(4n) a {
    transform: rotate(-10deg);
}

.nd .grid-wrapper .grid .grid-item:nth-child(5n) a {
    transform: rotate(-6deg);
}

.nd .grid-wrapper .grid .grid-item a:hover {
    transform: rotate(0);
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

@media (max-width: 991px) {
    
    .nd .grid-wrapper .grid .grid-item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    
    .nd .grid-wrapper .grid .grid-item {
        width: 100%;
    }

    .nd .grid-wrapper .grid .grid-item a {
        transform: rotate(-5deg);
    }

    .nd .grid-wrapper .grid .grid-item:ntn-child(2n) a {
        transform: rotate(5deg);
    }
}

/*ul Menu*/


.nd .grid-wrapper .filter-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;

}

.nd .grid-wrapper .filter-menu li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.nd .grid-wrapper .filter-menu li:last-child {
    margin-right: 0;
}

.nd .grid-wrapper .filter-menu li span {
    display: block;
    padding: 15px;
    font-size: 21px;
    background-color: rgba(255,255,255,0.6);
    font-family: 'Permanent Marker', cursive;
    color: #000;
    border-radius: 12px;
    transition: all 300ms linear;
    cursor: pointer;
}

.nd .grid-wrapper .filter-menu li.active span, .nd .grid-wrapper .filter-menu li span:hover{
    background-color: #fff;
}

/*Modal*/
.nd .grid-wrapper .grid .grid-item .modal-body a {
    font-size: 25px;
    color: tomato;
    text-transform: uppercase;
    padding: 30px;
    margin-left: 0;
    margin-top: 5px;
}

.nd .grid-wrapper .grid .grid-item .modal-body a i {
    color: gray;
    font-size: 40px;
    margin-right: 10px;
}

.nd .grid-wrapper .grid .grid-item .modal-footer .btn {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 20px 5px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
}

.nd .grid-wrapper .grid .grid-item .modal-body img {
    width: 100%;
    height: 100%;
}

.nd .grid-wrapper .grid .grid-item .modal-footer a {
    background-color: none;
    padding: 0;
    display: inherit;
    float: right;
    margin: 0;
    border: none;
    transition: none;
    transform: none;
    box-shadow: none;
}

.nd .grid-wrapper .grid .grid-item .modal-body h2 {
    text-align: center;
    font-size: 50px;
}

.nd .grid-wrapper .grid .grid-item .modal-body h3 {
    font-family: monospace;
    font-weight: 600;
    font-size: 30px;
}

.nd .grid-wrapper .grid .grid-item .modal-body p {
    font-family: 'Noto Sans JP', cursive;
    font-size: 20px;
}

@media (max-width: 767px) {
    .nd .grid-wrapper .grid .grid-item .modal-header h2 {
        font-size: 20px;
    }

    .nd .grid-wrapper .grid .grid-item .modal-body h3 {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    
    .nd .grid-wrapper .grid .grid-item .modal-header h2 {
        font-size: 20px;
    }

    .nd .grid-wrapper .grid .grid-item .modal-body h3 {
        margin-top: 10px;
    }

}